.animal img {
  width: 40%;
  float: right;
}

.animal p {
  font-style: italic;
}
.animal {
  border: 3px solid black;
  margin: 5px;
  padding: 10px;
  width: 45%;
  float: right;
  height: 300px;
}

.heading {
  background-color: aquamarine;
  text-align: center;
}

.animal:hover {
  background-color: rgb(197, 255, 255);
}

.sidebar li {
  float: left;
  display: inline;
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.sidebar {
  width: 100%;
  height: 60px;


}
